#seaTurtle
  .data-table-extensions
    padding-right: 0

    .data-table-extensions-filter
      float: none
      line-height: 3rem
      margin-left: auto
      margin-right: auto

      input
        width: 90%

      label
        margin-left: 3px
        margin-top: .75rem

  @media (min-width: 769px) // when NOT mobile
    .data-table-extensions
      .data-table-extensions-filter
        width: 45%

  @media (max-width: 768px) // when mobile
    .data-table-extensions
      .data-table-extensions-filter
        width: 100%

  .show-relinquished-turtles
    margin-top: 1rem

  .view-on-map-button
    width: 100%
