.sea-turtle-table-container
  overflow-y: scroll
  max-height: 270px
  margin-bottom: 1.5rem

.table:not(:last-child)
  &.table-header
    margin-bottom: 0

.column-width-small
  width: 6rem

.column-width-medium
  width: 12rem
