#app
	height: 100%

.bottom-panel
	align-self: flex-end
	font-size: small
	margin-top: auto
	margin-bottom: 1rem
	padding-top: .5rem
	width: 100%

.content-container
	display: flex
	flex-direction: column
	height: 100%
	margin-top: 1.5rem
	margin-right: 1.25rem
	margin-left: 1rem