#report
  h2.subtitle
    margin-bottom: .5rem

  @media screen
    .html-report-viewing-area
      overflow-x: auto

  .html-report-print-button-container
    margin-bottom: 1.5rem

  .html-report-print-button
    background-color: blue
    color: white
    &:hover
      opacity: .75

  .view-report-button-container
    margin-bottom: 2rem

  .view-report-button
    background-color: blue
    border-radius: 4px
    display: inline-block
    padding: 7px

  a.view-report-button
    color: white ! important
    &:hover
      color:white ! important
      opacity: .75

@media print
	.html-report-print-button-container, .report-options
		display: none
