.checkbox-group
  & .control
    display: flex
    flex-direction: column
    flex-wrap: wrap

.checkbox-group.checkboxes-1
  & .control
    @media (min-width: 768px)
      height: 1.5rem

.checkbox-group.checkboxes-4
  & .control
    @media (min-width: 768px)
      height: 6rem
