.checkbox-group
  & .grid-item-contents-children
    display: flex
    flex-direction: column
    flex-wrap: wrap

.checkbox-group.checkboxes-1
  & .grid-item-contents-children
    @media (min-width: 768px)
      height: 1.5rem

.checkbox-group.checkboxes-2
  & .grid-item-contents-children
    @media (min-width: 768px)
      height: 3rem

.checkbox-group.checkboxes-3
  & .grid-item-contents-children
    @media (min-width: 768px)
      height: 4.5rem

.checkbox-group.checkboxes-5
  & .grid-item-contents-children
    @media (min-width: 768px)
      height: 7.5rem
