.is-fixed-width-medium
  width: 120px

.modal-card-foot
  justify-content: flex-end !important

.tabs:not(:last-child)
  font-size: 1.25rem
  margin-bottom: 0 !important

.tab-content
  display: none
  min-height: 24rem
  padding: 1rem

.tab-content.is-active
  display: block