@charset 'utf-8';

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// // 1. Import the initial variables
// @import '../node_modules/bulma/sass/utilities/initial-variables'
// // 2. Set your own initial variables
// // Update the blue shade, used for links
// $blue: #06bcef;
// // Add pink and its invert
// $pink: #ff8080;
// $pink-invert: #fff;
// // Update the sans-serif font family
// $family-sans-serif: 'Helvetica', 'Arial', sans-serif
// // 3. Set the derived variables
// // Use the new pink as the primary color
// $primary: $pink;
// $primary-invert: $pink-invert;
// // 4. Import the rest of Bulma

$input-placeholder-color: lightgray;

@import '../node_modules/bulma/bulma'

body
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  height: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

fieldset
  min-width: 100%

html
  background-color: #fff8dc
  color: #191970
  height: 100%

#root
  height: 85%

.breadcrumb:not(:last-child)
  margin-bottom: .5rem

.cursor-pointer
  cursor: pointer

.field
  flex-basis: 0

.field.is-grouped.form-action-buttons
  justify-content: center
  margin-bottom: 1rem
  margin-top: 1rem
  
.hidden
  display: none

.is-fixed-width-medium
  width: 120px

.modal-card-foot
  justify-content: flex-end !important

.radio
  margin-right: .75rem
  > input
    margin-right: .25rem

.tab-content
  display: none
  /* min-height: 24rem */
  padding: 1rem

.tab-content.is-active
  display: block

.tabs:not(:last-child)
  font-size: 1.25rem
  margin-bottom: 0 !important

.title:not(:last-child)
  margin-bottom: .5rem

.transparent
  opacity: 0

@media (min-width: 769px) // when NOT mobile
  .shown-when-mobile
    display: none

@media (max-width: 768px) // when mobile
  .shown-when-not-mobile
    display: none

//@media (min-width: 769px)
//  .field.is-grouped.form-action-buttons
//    justify-content: flex-end

//@media (max-width: 768px)
//  .field.is-grouped.form-action-buttons
//    justify-content: center