@import 'node_modules/bulma/bulma'

h2.map-header
  margin-bottom: 0 ! important
  width: 100%

@media (max-width: 768px) // when mobile
  h2.subtitle
    font-size: 1rem
    line-height: 1.5

h3.map-header
  font-size: smaller
  margin-bottom: 0 ! important
  width: 100%

.close-icon-button
  position: absolute
  top: 6px
  right: 6px
  border: 0
  background-color: transparent
  color: $danger
  cursor: pointer
  padding: 0
  outline: none

  &:hover
    opacity: .65
  
  i.fa-window-close
    font-size: 1.5rem

.leaflet-popup-content p
  margin: 0 ! important

.marker-description
  font-size: larger
  margin-bottom: .25rem ! important

.modal-card-head
  flex-direction: column
